$popover-max-width: 500px;
$yiq-contrasted-threshold: 160;
$custom-control-cursor: pointer;
$enable-shadows: true;

@use 'bootstrap/scss/bootstrap' with (
  $primary: #88cc88
);
@use 'nano-noty/src/noty';
@use 'nano-noty/src/themes/bootstrap-v5';
@use 'icons';

:root {
  --brand-primary-lighter: #f7fbf7;
  --brand-primary-light: #eaf4ea;
  --brand-primary: #88cc88;
  --brand-primary-dark: #004400;
}

.bg-body-tertiary {
  background: #f5f5f5;
}

h1,
h2,
h3 {
  color: var(--brand-primary-dark);
}

hr {
  color: var(--brand-primary);
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-weight: 500;
  font-size: 0.8em;
  text-transform: uppercase;
}

h5 {
  font-size: 1em;
  font-weight: bold;
}

.card-img-left {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-bottom-left-radius: var(--bs-card-inner-border-radius);
}

.bg-primary-subtler {
  background-color: var(--brand-primary-lighter);
}
